# vi:ft=yaml
---

desktop_and_screen_saver:
  screensaver_idle_time: 0

dock:
  size: 16
  zoom: True
  autohide: True

language_and_region:
  languages:
    - en
    - ja
  locale: en_JP

security_and_privacy:
  ask_for_password: True
  ask_for_password_delay: 0
  filevault: True

keyboard:
  touchbar_function_keys: True
  keyboard_layout: US
  input_sources: ja
  live_conversion: False

trackpad:
  swipescrolldirection: False

bluetooth:
  enabled: False

sharing:
  computer_name: "mycomputer"

users:
  enabled_guestusers: False

ds_store:
  disabled: True

symlinks:
  - { src: .editorconfig }
  - { src: .eslintrc.json }
  - { src: .gemrc }
  - { src: .git_template }
  - { src: .gitconfig }
  - { src: .gitignore.global, dest: .gitignore }
  - { src: .tmux.conf }
  - { src: .tslintrc.json }
  - { src: .vim }
  - { src: .vimrc }
  - { src: .zsh }
  - { src: .zshrc }

rbenv:
  global: 2.4.0
  versions:
    - 2.4.0
    - 2.1.10

ndenv:
  global: 9.11.1
  versions:
    - 9.11.1
    - 8.11.1
    - 6.14.1
    - 4.9.1

phpenv:
  global: 7.1.1
  versions:
    - 7.1.1
    - 5.6.30
    - 5.5.38
    - 5.4.45

goenv:
  global: 1.8.3
  versions:
    - 1.8.3
    - 1.7
    - 1.6

pyenv:
  global_python2: 2.7.13
  global_python3: 3.6.0
  versions:
    - 2.7.13
    - 3.6.0

homebrew:
  # GNU packages and libraries

  - { name: autoconf }
  - { name: automake }
  - { name: binutils }
  - { name: coreutils }
  - { name: findutils }
  - { name: libtool }
  - { name: xz }
  - { name: boost } # for github.com/nixprime/cpsm

  # development tools

  - { name: cmake }
  - { name: jq }
  - { name: lv }
  - { name: massren, tap: laurent22/massren }
  - { name: nkf }
  - { name: pt }
  - { name: readline }
  - { name: reattach-to-user-namespace }
  - { name: tree }
  - { name: wget }
  - { name: imagemagick }
  - { name: awscli }

  # editor and terminal

  - { name: tmux, install_options: [with-utf8proc] }
  - { name: neovim }
  - { name: vim, install_options: [with-lua, with-luajit, with-python3] }

  # git utils

  - { name: tig }

  # Docker

  - { name: docker }

  # Static site generator

  - { name: hugo }

homebrew_cask:
  # security

  - { name: avast }

  # browser

  - { name: google-chrome }
  - { name: firefox }

  # launcher

  - { name: alfred }

  # storage

  - { name: dropbox }
  - { name: google-drive-file-stream }

  # virtualization

  - { name: docker }
  - { name: vagrant }
  - { name: virtualbox }
  - { name: vmware-fusion }

  # development tools

  - { name: charles }
  - { name: imageoptim }
  - { name: macwinzipper }

  # adobe

  - { name: adobe-creative-cloud }
  - { name: adobe-photoshop-cc }
  - { name: adobe-reader }

  # google-cloud-sdk

  - { name: google-cloud-sdk }

  # sns tools

  - { name: chatwork }
  - { name: skype }

  # capture

  - { name: skitch }

  # multimedia

  - { name: sdformatter }
  - { name: vlc }

  # presentation

  - { name: keycastr }

macappstore:
  - { name: Slack, id: 803453959 }
  - { name: 1Password, id: 443987910 }
  - { name: Alfred, id: 405843582 }
  - { name: Keynote, id: 409183694 }
  - { name: Skitch, id: 425955336 }
  - { name: Xcode, id: 497799835 }

npm:
  # language, preprocessor

  - { name: typescript }
  - { name: compass }
  - { name: sass }

  # framework cli

  - { name: create-react-app }
  - { name: "@angular/cli" }
  - { name: "@vue/cli" }

  # task runner

  - { name: webpack }
  - { name: gulp }
  - { name: grunt }

  # lint, validator

  - { name: eslint }
  - { name: tslint }
  - { name: jsonlint }
  - { name: csslint }
  - { name: sass-lint }
