# vi:ft=yaml
---

# computer name here
computer_name: "mycomputer"

# basic permission (for multiuser setting)
permission: "022"

# language setting (first one is using)
languages:
  - ja
  - en

# locale setting (ex: ja_JP, en_JP ...)
locale: ja_JP

# autoupdate MacAppStore
autoupdate: True

# no .DS_Store
no_dsstore: True

# security settings
security:
  filevault: True
  firewall: True

# symlink targets (key: src, dest(optional))
symlinks:
  - src: .editorconfig
  - src: .eslintrc.json
  - src: .gemrc
  - src: .gitconfig
  - src: .gitignore.global
    dest: .gitignore
  - src: .tmux
  - src: .tmux.conf
  - src: .tslintrc.json
  - src: .vim
  - src: .vimrc
  - src: .zsh
  - src: .zshrc
  - src: bin

# profiles settings
profiles:
  src: "~/Dropbox/profiles/"
  dest: "~/profiles/"
  symlinks:
    - src: .ssh
    - src: .config
    - src: .gitconfig.local
    - src: .zshrc.local
  fonts: "~/profiles/fonts/"

# anyenv versions
rbenv:
  - 2.4.0
  - 2.1.10
ndenv:
  - 7.4.0
  - 6.9.4
phpenv:
  - 7.1.1
  - 5.6.30
  - 5.5.38
  - 5.4.45
goenv:
  - 1.7.5
  - 1.6.4
pyenv:
  - 2.7.13
  - 3.6.0

# MacAppStore by mas-cli
macappstore:
  - name: Xcode
    id: 497799835
  - name: 1Password
    id: 443987910
  - name: Skitch
    id: 425955336
  - name: Alfred
    id: 405843582
  - name: Slack
    id: 803453959
  - name: Keynote
    id: 409183694

# Homebrew packages
# exclude: git, ansible, mas, zsh
homebrew:
  # GNU packages
  - name: xz
  - name: binutils
  - name: coreutils
  - name: findutils
  - name: autoconf
  - name: automake
  - name: libtool

  # command line tools
  - name: reattach-to-user-namespace
  - name: lv
  - name: vim
    install_options: [with-lua, with-luajit, with-python3]
  - name: tmux
    install_options: [with-utf8proc]
  - name: readline

  # utils
  - name: wget
  - name: tig
  - name: pt
  - name: jq
  - name: imagemagick
  - name: nkf
  - name: tree
  - name: massren
    tap: laurent22/massren
  - name: terminal-notifier

  # for PHP
  - name: composer

# Homebrew Cask packages
# exclude: iterm2
homebrew_cask:
  # storage
  - name: dropbox

  # browser, internet terminal
  - name: google-chrome
  - name: firefox
  - name: chatwork

  # launcher
  - name: alfred

  # security
  - name: avast

  # virtualization
  - name: virtualbox
  - name: vagrant
  - name: docker
  - name: vmware-fusion

  # network proxy
  - name: charles

  # development tools
  - name: imageoptim
  - name: macwinzipper

  # presentation, capture
  - name: keycastr
  - name: skitch

  # sns tools
  - name: skype
  - name: slack

  # multimedia
  - name: vlc
  - name: sdformatter

  # adobe
  - name: adobe-reader
  - name: adobe-creative-cloud
  - name: adobe-photoshop-cc

# npm global packages (depend from node)
npm:
  # task runner
  - name: webpack
  - name: gulp
  - name: grunt

  # lint, validator
  - name: csslint
  - name: sass-lint
  - name: jshint
  - name: eslint
  - name: jsonlint
  - name: tslint

  # css preprocessor
  - name: sass
  - name: compass
