# vi:ft=yaml
---

# computer name here
computer_name: "mycomputer"

# language setting (first one is using)
languages:
  - ja
  - en

# locale setting (ex: ja_JP, en_JP ...)
locale: ja_JP

# autoupdate MacAppStore
autoupdate: True

# no .DS_Store
no_dsstore: True

# security settings
security:
  filevault: True
  firewall: True

# symlink targets (key: src, dest(optional))
symlinks:
  - { src: .editorconfig }
  - { src: .eslintrc.json }
  - { src: .gemrc }
  - { src: .git_template }
  - { src: .gitconfig }
  - { src: .gitignore.global, dest: .gitignore }
  - { src: .sass-lint.yml }
  - { src: .tmux.conf }
  - { src: .tslintrc.json }
  - { src: .vim }
  - { src: .vimrc }
  - { src: .zsh }
  - { src: .zshrc }
  - { src: bin }

# anyenv versions
rbenv:
  global: 2.4.0
  versions:
    - 2.4.0
    - 2.1.10
ndenv:
  global: 8.2.1
  versions:
    - 8.2.1
    - 7.10.1
    - 6.9.4
    - 4.8.0
phpenv:
  global: 7.1.1
  versions:
    - 7.1.1
    - 5.6.30
    - 5.5.38
    - 5.4.45
goenv:
  global: 1.8.3
  versions:
    - 1.8.3
    - 1.7
    - 1.6
pyenv:
  global_python2: 2.7.13
  global_python3: 3.6.0
  versions:
    - 2.7.13
    - 3.6.0

# MacAppStore by mas-cli
macappstore:
  - { name: 1Password, id: 443987910 }
  - { name: Alfred,    id: 405843582 }
  - { name: Keynote,   id: 409183694 }
  - { name: Skitch,    id: 425955336 }
  - { name: Slack,     id: 803453959 }
  - { name: Xcode,     id: 497799835 }

# Homebrew packages
# exclude: git, ansible, mas, zsh
homebrew:
  # GNU packages, libraries
  - { name: autoconf }
  - { name: automake }
  - { name: binutils }
  - { name: coreutils }
  - { name: findutils }
  - { name: libtool }
  - { name: xz }
  - { name: boost } # for github.com/nixprime/cpsm

  # command line tools
  - { name: cmake }
  - { name: jq }
  - { name: lv }
  - { name: massren, tap: laurent22/massren }
  - { name: nkf }
  - { name: pt }
  - { name: readline }
  - { name: reattach-to-user-namespace }
  - { name: tmux, install_options: [with-utf8proc] }
  - { name: tree }
  - { name: wget }

  # editor
  - { name: neovim }
  - { name: vim, install_options: [with-lua, with-luajit, with-python3] }

  # Git tools
  - { name: tig }

  # visual tools
  - { name: imagemagick }

  # PHP package manager
  - { name: composer }

# Homebrew Cask packages
# already installed:
# - { name: iterm2 }
homebrew_cask:
  # security
  - { name: avast }

  # browser, internet terminal
  - { name: google-chrome }
  - { name: firefox }

  # launcher
  - { name: alfred }

  # storage
  - { name: dropbox }

  # virtualization
  - { name: docker }
  - { name: vagrant }
  - { name: virtualbox }
  - { name: vmware-fusion }

  # development tools
  - { name: charles }
  - { name: imageoptim }
  - { name: macwinzipper }

  # adobe
  - { name: adobe-creative-cloud }
  - { name: adobe-photoshop-cc }
  - { name: adobe-reader }

  # sns tools
  - { name: chatwork }
  - { name: skype }

  # capture
  - { name: skitch }

  # multimedia
  - { name: sdformatter }
  - { name: vlc }

  # presentation
  - { name: keycastr }

# npm global packages
npm:
  # language, preprocessor
  - { name: compass }
  - { name: sass }
  - { name: typescript }

  # task runner
  - { name: grunt }
  - { name: gulp }
  - { name: webpack }

  # lint, validator
  - { name: csslint }
  - { name: eslint }
  - { name: jshint }
  - { name: jsonlint }
  - { name: sass-lint }
  - { name: tslint }
