---

- hosts: local
  connection: local
  roles:
    # prefs

    - { role: desktop_and_screen_saver }
    - { role: dock }
    - { role: language_and_region }
    - { role: security_and_privacy }
    - { role: keyboard }
    - { role: trackpad }
    - { role: bluetooth }
    - { role: computer_names }
    - { role: users_and_groups }
    - { role: ds_store }
    - { role: symlinks }

    # shell

    - { role: fish }

    # programming languages and package managers

    - { role: anyenv }
    - { role: ruby_with_rbenv }
    - { role: node_with_ndenv }
    - { role: php_with_phpenv }
    - { role: php_composer }
    - { role: go_with_goenv }
    - { role: python_with_pyenv }

    # install by package manager

    - { role: homebrew }
    - { role: macappstore }
    - { role: npm }
