---

- hosts: local
  connection: local
  roles:
    # prefs

    - desktop_and_screen_saver
    - dock
    - language_and_region
    - security_and_privacy
    - keyboard
    - trackpad
    - bluetooth
    - computer_names
    - users_and_groups
    - ds_store
    - symlinks

    # shell

    - fish_shell

    # programming languages and package managers

    - anyenv
    - ruby_with_rbenv
    - node_with_ndenv
    - php_with_phpenv
    - php_composer
    - go_with_goenv
    - python_with_pyenv

    # install by package manager

    - homebrew
    - macappstore
    - npm
